################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Turbo-Histogram/v16
/out/build
/.vs
/demo.bmp
/CMakeFiles
/Release
/turbohist.dir/Release
/Win32/Release/ZERO_CHECK
/cmake_install.cmake
/ZERO_CHECK.vcxproj.user
/ZERO_CHECK.vcxproj.filters
/ZERO_CHECK.vcxproj
/turbohist.vcxproj.user
/turbohist.vcxproj.filters
/turbohist.vcxproj
/turbohist.sln
/ALL_BUILD.vcxproj.user
/ALL_BUILD.vcxproj.filters
/ALL_BUILD.vcxproj
/CMakeCache.txt
