################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Turbo-Histogram/v16
/out/build
/.vs
